span.underline {
    text-decoration: underline;
}

span.bold {
    font-weight: bold;
}

div#hidden {
    margin: 1rem 0 0 0;
}

p#error {
    color: #c53a06;
    font-style: italic;
}

p#repoStructure {
    /* TODO add styling to directory output */
}

p.radioText {
    width: 100%;
}

.inputRadio {
    width: auto;
    display: inline-block;
}

.RadioText {
    display: inline-block;
    flex: 2;
}

.option {
    display: flex;
}
