.nav {
  color: #5a5a5a;
  background-color: #f6f6f6;
  font-size: 1em;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
  color: #5a5a5a;
  text-transform: uppercase;
  text-decoration: none;
}

.nav li a {
  display: inline;
  color: #5a5a5a;
  text-transform: uppercase;
}

.rightNav li {
  margin-left: 1em;
}

.leftNav li {
  margin-right: 1em;
}

.nav li a:hover {
  text-decoration:none;
  font-weight:bold;
  color:#5a5a5a;
}

.learn-more {
  background-color: #f7f7f7;
}

.title {
  font-family: 'Shift', sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  margin-left: 75px;
  margin-right: 75px
}

h2 {
  font-family: 'Shift', sans-serif;
  font-size: 1.3em;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
}

.content ul {
  margin-left: 25px;
  margin-right: 25px;
}