.nav {
  color: #5a5a5a;
  background-color: #f6f6f6;
  font-size: 1em;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
  color: #5a5a5a;
  text-transform: uppercase;
  text-decoration: none;
}

.nav li a {
  display: inline;
  color: #5a5a5a;
  text-transform: uppercase;
}

.rightNav li {
  margin-left: 1em;
}

.leftNav li {
  margin-right: 1em;
}

.nav li a:hover {
  text-decoration:none;
  font-weight:bold;
  color:#5a5a5a;
}

.jumbotron {
  background-image:url('http://www.ergsandterst.ga/images/ergs.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron .container a {
  text-decoration:none;
  color: #ffffff;
}

.jumbotron .container a:hover {
  text-decoration:none;
  color: #707070;
}

.jumbotron h1 {
  color: #fff;
  font-size: 4em;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 1.2em;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Arvo', serif;
  font-size: 1.3em;
  font-weight: bold;
}

.learn-more a {
  color: #000000;
  text-decoration:none;
}

.learn-more a:hover {
  color:#5a5a5a;
  text-decoration: none;
}

.steam-community {
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

.steam-community h2 {
    color:#393c3d;
    font-size:2em;
}

.steam-community p {
    font-size:1.1em;
    margin-bottom:1.5em;
}

.steam-community a:hover {
    color:#5a5a5a;
    text-decoration: none;
}

.community {
    display:inline;
}

p {
  text-decoration: none;
}

.strokeme {
    color: black;
    text-shadow:
    -0.2em -0.2em 0 #FFFFFF,
    0.2em -0.2em 0 #FFFFFF,
    -0.2em 0.2em 0 #FFFFFF,
    0.2em 0.2em 0 #FFFFFF;
}
